header {
	background: #a02b5a;
	color:#fff;
}

aside {
	background: #fff;
	color: #000;
}

article {
	background: #fff;
	color: #000;
}

.main {
	background: #f2f2f2;
}

.dinero_actual {
	background: #fff;
	color: #000;
}

.dinero_abonado {
	background: #fff;
	color: #000;
}

footer {
	background: #a02b5a;
	color: #fff;
}

a.icono {
	width:75px;
	line-height: 20px;
	font-size: 30px; /*Tamano Del Icono*/
	text-decoration: none; /* Quita lo subrayado al enlace */
	color: #fff; /* Color al icono */
}

a.icono {
	width:75px;
	line-height: 20px;
	font-size: 30px; /*Tamano Del Icono*/
	text-decoration: none; /* Quita lo subrayado al enlace */
	color: #000; /* Color al icono */
}

/*Btn cerrar sesion*/
.cerrar_sesion {
	/*background-color: #;*/
	transform: translateX(-250) translateY(60);
}